@use 'partial';

body {
    background-color: partial.$background-color;
    color: partial.$text-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* HEADER */

.header {
  background-image: url(../IMG/computer1.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: partial.$primary-color;
  padding: 10px 20px;
  font-size: 70px;
  background: rgba(196, 192, 192, 0.4);
  border-radius: partial.$border-radius;
  
}

/* intro-tekst */

.intro-content {
    display: flex;
    gap: partial.$spacing;
    align-items: center;
    padding: 20px;
}

.intro-text {
    flex: 1;
    max-width: 700px;
    margin: partial.$spacing auto;
    padding: partial.$spacing;

    background-color: partial.$secondary-color;
    border: 3px solid partial.$primary-color;
    border-radius: partial.$border-radius;

    line-height: 1.6;
}

.intro-image {
    flex: 1;
}

.intro-image img {
    width: 100%;
    border-radius: partial.$border-radius;
    border: 3px solid partial.$primary-color;
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
  }
}

   