@use 'partial';

/* HEADER */

.header {
  background-image: url(../IMG/computer1.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: partial.$primary-color;
  padding: 10px 20px;
}